<head>
    <title>Horarios Asignados</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
{% extends "base.html" %}

{% block content %}

<main class="py-5 min-vh-100" id="empleados">
    <h1 class="mb-4 text-center fw-bold">Mis Horarios</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 fondo-semi">
            <div class="table-responsive shadow rounded">
                <table class="table table-striped table-bordered align-middle datatable-spanish">
                    <thead class="table-dark">
                        <tr>
                            <th>Empleado</th>
                            <th>DNI</th>
                            <th>Día</th>
                            <th>Hora de Entrada</th>
                            <th>Hora de Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in horarios %}
                        <tr>
                            <td>{{ horario.id_empl.nombre }} {{ horario.id_empl.apellido }}</td>
                            <td>{{ horario.id_empl.dni }}</td>
                            <td>{{ horario.id_horario.dia }}</td>
                            <td>{{ horario.id_horario.hora_entrada|time:"H:i" }}</td>
                            <td>{{ horario.id_horario.hora_salida|time:"H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-muted">No hay horarios registrados.</td>
                            {# Las siguientes 5 celdas vacías son necesarias para que DataTables no dé error #}
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}