{% extends 'base.html' %} <!-- Asegúrate que el nombre de tu base sea correcto -->

{% block title %}Listado de Incidentes{% endblock %}

{% block content %}
<main class="py-5 min-vh-100" id="empleados">
    <h1 class="mb-4 text-center fw-bold">Historial de Incidentes</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 fondo-semi">
            <div class="table-responsive shadow rounded">
                <table class="table table-striped table-bordered align-middle datatable-spanish">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nombre del Incidente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incidente in incidentes %}
                        <tr>
                            <td>{{ incidente.nombre_incid }}</td>
                            <td>{{ incidente.fecha_incid|date:"d/m/Y" }}</td>
                            <td>{{ incidente.tipo_incid }}</td>
                            <td>
                                {% if incidente.estado_incid %}
                                <span class="badge bg-success">Activo</span>
                                {% else %}
                                <span class="badge bg-secondary">Cerrado</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'detalle_incidente' incidente.id %}" class="btn btn-sm btn-info">Ver
                                    Detalles</a>

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">No hay sanciones registradas.</td>
                            {# Las siguientes 5 celdas vacías son necesarias para que DataTables no dé error #}
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}