{% extends 'base.html' %}

{% block content %}

<main class="py-5 min-vh-100" id="empleados">
    <h1 class="mb-4 text-center fw-bold">Incidentes de {{ empleado.nombre }} {{ empleado.apellido }}</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 fondo-semi">
            <div class="table-responsive shadow rounded">
                <table class="table table-striped table-bordered align-middle datatable-spanish">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre del Incidente</th>
                            <th>Fecha de Ocurrencia</th>
                            <th>Tipo</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inc_empl in incidentes_empleado %}
                        <tr>
                            <td>{{ inc_empl.id_incidente.nombre_incid }}</td>
                            <td>{{ inc_empl.fecha_ocurrencia|date:"d/m/Y" }}</td>
                            <td>{{ inc_empl.id_incidente.tipo_incid }}</td>
                            <td>{{ inc_empl.observaciones|default:"-" }}</td>
                            <td>
                                <a href="{% url 'detalle_incidente' inc_empl.id_incidente.id %}"
                                    class="btn btn-info btn-sm" title="Ver Detalle del Incidente">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-muted">No hay incidentes registrados.</td>
                            {# Las siguientes 5 celdas vacías son necesarias para que DataTables no dé error #}
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}