<head>
    <title>Iniciar sesión</title>
</head>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container py-5">
    <div class="row justify-content-center pb-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center my-4">
                        <img src="{% static 'images/logo-nuevas-energias-v2.png' %}" alt="Logo" style="max-width: 100px;">
                        <h3 class="mt-3 mb-0">Iniciar sesión</h3>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario: </label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="Ingrese su nombre de usuario">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña: </label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="Ingrese su contraseña">
                    </div>
                        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                    </form>
                    <div class="mt-3 text-center">
                        <span>¿No tienes cuenta?</span>
                        <a href="{% url 'register' %}">Regístrate aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}