{% load static %}
{% load auth_extras %}

<nav id="navbar" class="navbar navbar-expand navbar-dark">
    <div class="container-fluid px-3">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo-nuevas-energias-v2.png' %}" alt="Logo" width="80" height="60"
                class="d-inline-block align-text-top shadow-sm">
        </a>

        <!-- Botón Hamburguesa para móvil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Menú de navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Izquierda: Menú principal por categorías -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated and user|has_group:"administrador" %}
                <!-- Empleados -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="empleadosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-people-fill me-2"></i>Empleados</a>
                    <ul class="dropdown-menu" aria-labelledby="empleadosDropdown">
                        <li><a class="dropdown-item" href="{% url 'crear_empleado' %}">Crear Empleado</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver Empleados</a></li>
                    </ul>
                </li>
                <!-- Recibos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="recibosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-receipt me-2"></i>Recibos</a>
                    <ul class="dropdown-menu" aria-labelledby="recibosDropdown">
                        <li><a class="dropdown-item" href="{% url 'cargar_recibo' %}">Cargar Recibos</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_recibos' %}">Ver Recibos</a></li>
                    </ul>
                </li>
                <!-- Horarios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="horariosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-clock-history me-2"></i>Horarios</a>
                    <ul class="dropdown-menu" aria-labelledby="horariosDropdown">
                        <li><a class="dropdown-item" href="{% url 'cargar_horario' %}">Cargar Horarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'asignar_horario' %}">Asignar Horarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_horarios_asig' %}">Ver Horarios Asignados</a>
                        </li>
                    </ul>
                </li>
                <!-- Sanciones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sancionesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-exclamation-octagon me-2"></i>Sanciones</a>
                    <ul class="dropdown-menu" aria-labelledby="sancionesDropdown">
                        <li><a class="dropdown-item" href="{% url 'agregar_sancion_empleado' %}">Registrar
                                Sanción</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_todas_sanciones' %}">Ver Sanciones</a></li>
                    </ul>
                </li>
                <!-- Incidentes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="incidentesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-journal-bookmark-fill me-2"></i>Incidentes</a>
                    <ul class="dropdown-menu" aria-labelledby="incidentesDropdown">
                        <li><a class="dropdown-item" href="{% url 'registrar_incidente' %}">Registrar Incidente</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'ver_incidentes' %}">Ver Incidentes</a></li>
                    </ul>
                </li>
                <!-- Asistencias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="asistenciasDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-camera-reels me-2"></i>Asistencias</a>
                    <ul class="dropdown-menu" aria-labelledby="asistenciasDropdown">
                        <li><a class="dropdown-item" href="{% url 'registrar_rostro' %}">Registrar Rostro</a></li>
                        <li><a class="dropdown-item" href="{% url 'marcar_asistencia' %}">Marcar Asistencia</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Derecha: Notificaciones y Perfil -->
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <!-- Enlace a Inicio -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}" title="Inicio">
                    <div class="nav-icon-wrapper">
                        <i class="bi bi-house-door fs-4"></i>
                    </div>
                </a>
            </li>
            <!-- Menú Notificaciones -->
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" title="Notificaciones">
                    <div class="nav-icon-wrapper">
                        <i class="bi bi-bell fs-4"></i>
                        <!-- Opcional: Badge de notificaciones -->
                        <!-- <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span> -->
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
                    <li><a class="dropdown-item" href="#">Notificación 1</a></li>
                    <li><a class="dropdown-item" href="#">Notificación 2</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-center" href="#">Ver todas</a></li>
                </ul>
            </li>

            <!-- Menú Perfil de Usuario -->
            <li class="nav-item dropdown">
                <a class="nav-link d-flex align-items-center" href="#" id="userProfileDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" title="Perfil de {{ user.first_name }}">
                    <div class="user-initials-circle">
                        {{ user.empleado.nombre.0|upper }}{{ user.empleado.apellido.0|upper }}
                    </div>
                    <i class="bi bi-caret-down-fill ms-1 text-white"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
                    <li>
                        <h6 class="dropdown-header">{{ user.empleado.nombre|upper }} {{ user.empleado.apellido|upper
                            }}</h6>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'index' %}"><i
                                class="bi bi-house-door me-2"></i>Inicio</a></li>

                    {% comment %} Verificamos si el usuario tiene un perfil de empleado asociado para mostrar estas
                    opciones {% endcomment %}
                    {% if user.empleado %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'ver_empleado' user.empleado.id %}"><i
                                class="bi bi-person-badge me-2"></i>Mi Perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'ver_asistencias_empleado' user.empleado.id %}"><i
                                class="bi bi-calendar-check me-2"></i>Asistencias</a></li>
                    <li><a class="dropdown-item" href="{% url 'sanciones_empleado' user.empleado.id %}"><i
                                class="bi bi-exclamation-octagon me-2"></i>Sanciones</a></li>
                    <li><a class="dropdown-item" href="{% url 'mis_incidentes' user.empleado.id %}"><i
                                class="bi bi-journal-bookmark-fill me-2"></i>Incidentes</a></li>
                    <li><a class="dropdown-item" href="{% url 'mis_horarios' user.empleado.id %}"><i
                                class="bi bi-clock-history me-2"></i>Horarios</a></li>
                    <li><a class="dropdown-item" href="{% url 'mis_recibos' user.empleado.id %}"><i
                                class="bi bi-receipt me-2"></i>Recibos de Sueldo</a></li>
                    {% endif %}

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i
                                class="bi bi-box-arrow-right me-2"></i>Cerrar sesión</a></li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'register' %}" class="nav-link">Registrarse</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
